define('ENV', [], function() {
    'use strict'

    var baseApi = 'http://localhost:9090/';

    return {
        'user': {
            'home': '/meus-mercados'
        },
        'market': {
            'home': '/{0}/mercado'
        },
        'api': {
            'premarkets': baseApi + 'premarkets',
            'premarketsPicture': baseApi + 'premarkets/picture',
            'login': baseApi + 'login',
            'register': baseApi + 'register'
        }
    }
});