<footer class="footer">
    <article>
        <section class="attendance">
            <h3>Atendimento</h3>
            <a href="mailto:contato@imarketbr.com">contato@imarketbr.com</a>
            <a href="tel:+551127413064">(11) 2741-3064</a>
        </section>
        <section class="institutional">
            <h3>Institucional</h3>
            <a href="/about">Quem somos</a>
            <a href="/termos-de-uso">Termos de uso</a>
            <a href="/politica-de-privacidade">Política de privacidade</a>
        </section>
        <section class="social-networks">
            <h3>Redes sociais</h3>
            <a href="https://facebook.com/imarketbr">Facebook</a>
            <a href="https://facebook.com/imarketbr">Instagram</a>
            <a href="https://facebook.com/imarketbr">Twitter</a>
            <a href="https://facebook.com/imarketbr">YouTube</a>
        </section>
    </article>
    <section class="resume">
        <strong class="download-app">Baixe nosso aplicativo!</strong>
        <img src="<!--@echo imagesDir-->google-play.png" class="google-play">
        <div class="business-info">
            <p>Copyright © 2017</p>
            <p>CNPJ nº 12.345.678/0001-23 / Av. Dr Pereira Vergueiro, 558, São Paulo - SP - CEP 03563000</p>
        </div>
    </section>
</footer>