<script async type="text/javascript" src="<!-- @echo jsDir-->login-service.js" ></script>
<script async type="text/javascript" src="<!-- @echo jsDir-->header.js" ></script>
<input type="checkbox" id="menu-switch">
<header class="header">
    <div class="banner"></div>
    <div class="content">
        <label for="menu-switch" class="menu hide">
            <span>menu</span>
        </label>
        <a class="title" href="">
            <h1>iMarket</h1>
            <img src="<!--@echo imagesDir-->logo.png" class="logo">
        </a>
        <aside class="side-menu hide">
            <a href="configuracoes">
                <figure class="avatar">
                    <div class="picture"><img src="<!--@echo imagesDir-->market-avatar.png"></div>
                    <figcaption class="user-name">Market</figcaption>
                </figure>
            </a>
            <ul>
                <li class="item your-market"><div><a href="produtos" class="link">Seu Mercado</a></div></li>
                <li class="item products"><div><a href="vendas" class="link">Cadastro de Produto</a></div></li>
                <li class="item orders"><div><a href="vendas" class="link">Pedidos</a></div></li>
                <li class="item control"><div><a href="vendas" class="link">Preço das paradas</a></div></li>
            </ul>
        </aside>
        <!-- @extendable -->
    </div>
</header>
<div class="black-filter"></div>
<div class="messages-container">
    <p class="content"></p>
</div>
