<header class="header">
    <div class="banner"></div>
    <div class="content">
        <input type="checkbox" id="menu-switch">
        <label for="menu-switch" class="menu">
            <span>menu</span>
        </label>
        <a class="title" href="/">
            <h1>iMarket</h1>
            <img src="<!--@echo imagesDir-->logo.png" class="logo">
        </a>
        <aside class="side-menu">
            <ul class="link-container">
                <li>Meus produtos</li>
                <li>Minhas vendas</li>
            </ul>
        </aside>
        <!-- @extendable -->
    </div>
</header>