@import 'base';
@import 'header';
@import 'form_components';

.not-found {
    position: relative;

    .content {
        position: absolute;
        right: 0;
        top: 4em;
        width: 50%;

        .title {
            font-size: 6em;
            font-weight: bold;
            text-align: center;
            color: $primary-color;
        }

        .description {
            margin-top: 4em;
            margin-bottom: 0.4em;
            font-size: 1.6em;
            padding-left: 1em;
            text-align: center;
            color: $primary-color;
        }
        .shelf {
            
        }
    }

    .mascot {
        position: fixed;
        z-index: 11;
        bottom: 0;
        left: 8em;
    }

    .mascot-dialog {
        position: fixed;
        z-index: 8;
        bottom: 14em;
        left: 16em;
        width: 11em;
        padding: 3em 1.5em;
        border-radius: 60%;
        text-align: center;
        background-color: $input-gray;

        &:before,
        &:after {
            content: '';
            position: absolute;
            @include transform(rotate(15deg));
        }

        &:before {
            z-index: 8;
            bottom: -1.2em;
            height: 2em;
            right: 65%;
            border-right: 4em solid $input-gray;
            border-bottom-right-radius: 80px 50px;
        }

        &:after {
            z-index: 9;
            bottom: -1.2em;
            height: 2.4em;
            right: 75%;
            border-right: 4em solid $background-gray;
            border-bottom-right-radius: 80px 50px;
        }

        p {
            color: $gray;
            font-size: 1.2em;
        }
    }
}