@import 'reset';
@import 'colors';
@import 'mixins';

$images-dir: '../assets/images/';
$font-default: 'helvetica-neue';
$font-amatic: 'amatic';

@font-face {
    font-family: 'amatic';
    src:
        url('../assets/fonts/amatic.ttf')
        format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'amatic';
    src:
        url('../assets/fonts/amatic-bold.ttf')
        format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica-neue';
    src: url('../assets/fonts/helvetica-neue.otf');
    
    font-weight: 300;
    font-style: normal;
}

html,
body {
    height: 100%;
    font-family: "helvetica-neue", Helvetica, Arial, sans-serif;
}

.hide {
    display: none;
}