$primary-color: #9C1229;
$primary-color-light: #B2162B;
$text: #e2e2e2;
$disabled: #999;

$black: #515151;
$black-title: #333;
$dark-red: #A31128;

$transparent-gray: rgba(127,127,127,0.8);
$gray: rgb(127,127,127);
$light-gray: rgb(150,150,150);
$input-gray: #DFDFDF;
$background-gray: #ECECEC;
$divider-gray: #DDDDDD;

$facebook: #3C599B;