.text-field {
    text-align: center;
    font-family: $font-default;
    font-weight: lighter;
    font-size: 1.5em;
    background-color: $text;
    padding: 0.3em;
    border: none;
    border-radius: 6px;
    color: $black;

    &:focus {
        box-shadow: 0 0 4px $light-gray;
        outline: none;
    }
}

.btn {
    background-color: $primary-color;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 0.75em;
    font-size: 1.4em;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    @include transition(box-shadow 0.1s);

    &:focus,
    &:hover {
        box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
        outline: none;
    }
}

.check-label {
    display: block;
    font-size: 1.2em;
    position: relative;
    padding-left: 2em;
    cursor: pointer;
    @include box-decoration-break(clone);

    &:before {
        position: absolute;
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        left: 0;
        background-color: $background-gray;
        background-position: 50%;
        border: 1px solid $gray;
        border-radius: 6px;

        @include transition(background 0.2s);
    }   
}

.checkbox {
    position: absolute;
    left: -9999px;

    &:checked {

        + .check-label:before {
            background: $primary-color-light url($images-dir + 'check.svg') no-repeat;
            background-position: 50%;
            border-color: $primary-color;
        }
    }

    &:focus {
        + .check-label:before {
            border-color: $primary-color-light;
        }
    }

}

.select-field {
    position: relative;

    &:after {
        position: absolute;
        right: 1em;
        top: calc(50% - 0.5em);
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        background: transparent url($images-dir + 'arrow.svg') no-repeat;
        background-position: right;
    }
    select {
        width: 100%;
        height: 100%;
        text-align: center;
        font-weight: lighter;
        font-size: 1.5em;
        font-family: $font-default;
        color: $gray;
        padding: 0.3em;
        padding-right: 1.5em;
        border: none;
        border-radius: 6px;
        box-shadow: none;
        background-color: $text;
        cursor: pointer;
        @include appearance(none);

        &:focus {
            box-shadow: 0 0 4px $gray;
            outline: none;
        }

    }
}
$fab-shadow: 4px;

.fab {
    border-radius: 50%;
    width: 3em;
    height: 3em;
    border: none;
    background: $primary-color-light url($images-dir + 'check.svg') no-repeat;
    background-position: 50%;
    background-size: 50%;
    cursor: pointer;
    box-shadow: 0 0 $fab-shadow rgba(0,0,0,.14),0 $fab-shadow $fab-shadow*2 rgba(0,0,0,.28);
    @include transition(box-shadow 0.1s);

    &:focus {
        box-shadow: 0 0 $fab-shadow*2 rgba(0,0,0,.14),0 $fab-shadow*2 $fab-shadow*4 rgba(0,0,0,.28);
        outline: none;
    }

    &:hover {
        box-shadow: 0 0 $fab-shadow*2 rgba(0,0,0,.14),0 $fab-shadow*2 $fab-shadow*4 rgba(0,0,0,.28);
    }
}

.fab-disabled {
    background-color: $gray;
    cursor: initial;

    &:focus,&:hover {
        box-shadow: 0 0 $fab-shadow rgba(0,0,0,.14),0 $fab-shadow $fab-shadow*2 rgba(0,0,0,.28);

    }
}

.shelf {
    position: relative;
    background-color: $primary-color-xlight;
    width: 100%;
    height: .6em;

    &:before,
    &:after {
        content: '';
        position: absolute;
        background-color: $primary-color;
        height: .6em;
        width: 60%;
        bottom: -.6em;
    }

    &:before {
        left: 0.6em;

        @include transform(skewX(65deg));
    }

    &:after {
        right: 0.6em;

        @include transform(skewX(-65deg));
    }
}

.right-shelf {
    @extend .shelf;

    &:after {
        right: 0;
        @include transform(none);
    }   
}

.left-shelf {
    @extend .shelf;

    &:after {
        left: 0;
        @include transform(none);
    }   
}