@import 'base';
@import 'header';
@import 'footer';
@import 'carousel';

body {
    background-color: white;
}

.buyer-home {
    
    .markets-title {
        color: white;

        h2 {
            position: relative;
            display: inline-block;
            width: 50%;
            font-size: 1em;
            font-weight: lighter;
            background-color: $primary-color;
            padding: 0.5em 2em 0.5em;
            text-transform: uppercase;

            strong {
                font-weight: normal;
            }

            &:after {
                position: absolute;
                top: 0;
                right: calc(-2em + 1px);
                content: '';
                width: 0;
                height: 0;
                border-bottom: 2em solid $primary-color;
                border-right: 2em solid transparent;
            }
            .border-title {
                position: absolute;
                top: 0;
                right: -1.8em;
                width: 0.5em;
                height: 2em;
                display: inline-block;
                background-color: $primary-color;
                @include transform(skew(45deg));

                &.semi-transparent {
                    right: -2.6em;
                    opacity: 0.7;
                }

                &.transparent {
                    right: -3.4em;
                    opacity: 0.4;
                }
                
            }
        }
    }

    .markets {        

        .market {
            display: block;
            margin: 2em auto;
            width: 80%;

            .picture {
                border: 0.5em solid $primary-color;
                width: calc(100% - 1em);
                height: 100%;
            }

            .name {
                color: $primary-color;
                font-size: 1.2em;
            }

            .address {
                color: $text-gray;
            }
        }
    }
}

@media (min-width: 520px) {
    .buyer-home {
        .markets-title {

            h2 {
                font-size: 1.2em;
                width: 50%;
            }
        }
    }   
}

@media (min-width: 800px) {
    .buyer-home {
        .markets-title {

            h2 {
                font-size: 1.4em;
            }
        }

        .markets {        

            .market {
                display: inline-block;
                margin: 2em 2em;
                width: calc(50% - 5em);
            }
        }
    }   
}

@media (min-width: 1100px) {
    .buyer-home {
        .markets {

            .market {
                margin: 2em 4em;
                width: calc(50% - 9em);
            }
        }
    }   
}