@import 'base';

$border-radius: 10px;

body {
    background: url($images-dir + 'home-bg.jpg') no-repeat;
    background-size: cover;
}

.header {
    background-color: $primary-color;

    .banner {
        min-height: 3em;
        background: url($images-dir + 'banner.svg') repeat-x;
        background-size: 3em;
        @include animation(slide 80s linear infinite);
    }
    .menu {
        width: 100%;
        padding-bottom: 0.5em;
        text-align: center;
        position: relative;

        .logo {
            position: absolute;
            height: 4em;
            left: 1em;
            top: 0.2em;
            margin-left: 1.5em;
            margin-top: 0.5em;
        }

        .title {
            font-family: $font-amatic;
            font-size: 3em;

            a {
                color: white;
                text-decoration: none;
            }
        }
        .navigation {
            position: absolute;
            right: 1em;
            top: 1em;
            font-weight: lighter;

            a {
                color: white;
                text-decoration: none;
                font-size: 1.2em;
                margin: 0 0.8em;
            }
        }
    }
}
.content {

    .search-box {
        width: 50%;
        text-align: center;
        border-radius: $border-radius;
        background-color: $transparent-gray;
        padding: 1em;
        color: white;
        margin: 2em auto;

        .title {
            font-size: 3em;
        }

        .description {
            font-size: 1.5em;
            margin: 1em 0;
            font-weight: 100;
        }

        .cep-form {
            width: 50%;
            height: 2.5em;
            position: relative;
            margin: 0 auto;

            .field {
                width: 100%;
                height: 100%;
                font-family: $font-default;
                font-size: 1.2em;
                text-align: center;
                border: none;
                border-radius: $border-radius;
                background-color: $input-gray;

                &:focus {
                    outline: none;
                    border-color: $primary-color;
                }
            }

            .btn-cep {
                position: absolute;
                top: 0;
                right: 0;
                width: 15%;
                height: calc(100% + 2px);
                border: none;
                border-radius: 0 $border-radius $border-radius 0;
                background-color: $primary-color;
                background-image: url($images-dir + 'check.svg');
                background-size: 2em;
                background-position: 50%;
                background-repeat: no-repeat;
                cursor: pointer;
            }
        }
        ::-webkit-input-placeholder {
            color:    $light-gray;
            font-weight: 100;
        }
        :-moz-placeholder {
           color:    $light-gray;
           opacity:  1;
           font-weight: 100;
        }
        ::-moz-placeholder {
           color:    $light-gray;
           opacity:  1;
           font-weight: 100;
        }
        :-ms-input-placeholder {
           color:    $light-gray;
           font-weight: 100;
        }
    }
}

@keyframes slide {
    from { background-position: 100% 0; }
    to { background-position: 0 0; }
}
@-webkit-keyframes slide {
    from { background-position: 100% 0; }
    to { background-position: 0 0; }
}

@media (min-width: 499px) {
    
}

@media (min-width: 799px) {
    .header {
        @include animation(slide 150s linear infinite);
    }
    
}
@media (min-height: 799px) {
    
}

@media (min-width: 1199px) {

}