@import 'base';
@import 'header';
@import 'form_components';

.login-form {
    position: relative;

    .message {
        text-align: center;
        margin-bottom: 1em;
        color: $primary-color-light;
    }

    .subtitle {
        width: 100%;
        display: block;
        font-size: 2em;
        margin-bottom: 1em;
    }

    .register {
        padding: 1em 1em;
        width: calc(100% - 2em);

        .btn-facebook {
            margin-bottom: 1em;
            background: $facebook url($images-dir + 'facebook-logo.png') no-repeat;
            background-position: 0.5em center, center center;
            background-size: 1.2em;
            width: 100%;
        }
        .another-option {
            width: 100%;
            font-size: 1.4em;
            margin-bottom: 1em;
            text-align: center;
        }

        .btn-register {
            display: block;
        }
    }

    .login {
        padding: 1em 1em;
        width: calc(100% - 2em);

        .password,
        .btn-login,
        .forgot-password,
        .email {
            width: 100%;
            display: block;
            margin-bottom: 1em;
        }

        .email {    
            margin-bottom: 0.75em;
        }

        .email,
        .password {
            width: calc(100% - 2em);
            padding: 0.5em 1em;
            text-align: left;
        }

        .forgot-password {
            text-align: center;
            color: $black;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media (min-width: 520px) {
    .login-form {
        .register {
            padding: 1em 2em;
            width: calc(100% - 4em);
        }

        .login {
            padding: 1em 2em;
            width: calc(100% - 4em);
        }
    }
}

@media (min-width: 600px) {
    .login-form {
        .register {
            padding: 1em 6em;
            width: calc(100% - 12em);
        }

        .login {
            padding: 1em 6em;
            width: calc(100% - 12em);
        }
    }
}

@media (min-width: 799px) {
    .login-form {
        padding: 4em 0;

        .row {
            width: 100%;
            display: block;
        }

        .register {
            float: left;
            padding:0 4em;
            width: calc(50% - 8em);

            .btn-facebook {
                width: calc(100% + 1.5em);
                background-position: 1em center, center center;
            }

            .btn-register {
                width: 100%;
            }
        }

        .login {
            float: right;
            padding:0 2em;
            width: calc(50% - (4em + 2px));
            border-left: 2px solid $divider-gray;
        }
    }
}

@media (min-width: 1200px) {
    .login-form {
        padding: 6em 2em;

        .row {
            width: 100%;
            display: block;
        }

        .register {
            float: left;
            padding:0 10em;
            width: calc(50% - 20em);

            .btn-facebook {
                width: calc(100% + 1.5em);
                background-position: 1em center, center center;
            }

            .btn-register {
                width: 100%;
            }
        }

        .login {
            float: right;
            padding:0 8em;
            width: calc(50% - (16em + 2px));
            border-left: 2px solid $divider-gray;
        }
    }
}

@media (min-width: 1800px) {
    .login-form {

        .subtitle {
            font-size: 2.5em;
        }
        
        .register {
            padding: 0 16em;
            width: calc(50% - 32em);

            .another-option {
                font-size: 2em;
            }
        }
        .login {
            padding:0 14em;
            width: calc(50% - (28em + 2px));

            .password,
            .btn-login,
            .forgot-password,
            .email {
                margin-bottom: 1.5em;
            }

            .forgot-password {
                font-size: 1.3em;
            }
        }
    }
}