@import 'base';
@import 'header';
@import 'form_components';

.market-change-password {
    padding: 1em;

    .title {
        font-size: 2em;
        text-align: center;
        margin-bottom: 1em;
    }

    .greetings {
        font-size: 1.2em;
        margin-bottom: 1em;
        text-align: center;
    }

    .change-password-form {
        width: 100%;

        .message {
            text-align: center;
            color: $alert-error;
        }

        .text-field {
            width: calc(100% - 0.5em);
            margin: 0.5em 0;
        }

        .btn-change {
            width: calc(100%);
            margin: 1em 0 0.5em;
        }
    }
}

@media (min-width: 520px) {
    .market-change-password {
        padding: 2em 3em;
    }
}

@media (min-width: 600px) {
    .market-change-password {
        padding: 3em 6em;
    }
}

@media (min-width: 799px) {
    .market-change-password {
        padding: 3em 6em;

        .title {
            text-align: left;
        }

        .greetings {
            text-align: left;
            margin-bottom: 2em;
        }

        .change-password-form { 
            width: 70%;
            margin: auto;
        }       
    }
}

@media (min-width: 1000px) {
    .market-change-password {

        .change-password-form { 
            width: 50%;
        }
    }
}

@media (min-width: 1200px) {
    .market-change-password {

        .change-password-form { 
            width: 40%;
        }
    }
}

@media (min-width: 1600px) {
    .market-change-password {

        .change-password-form { 
            width: 30%;
        }
    }
}