@import 'base';
@import 'header';
@import 'form_components';

.register {
    position: relative;

    .subtitle {
        display: block;
        font-size: 2em;
        text-align: center;
        margin: 0.4em 0;
    }

    .shelf {
        width: 95%;
        margin: auto auto 2em;
    }

    .register-form {
        padding: 1em 1em;
        width: calc(100% - 2em);

        .message {
            text-align: center;
            margin-bottom: 1em;
            color: $primary-color-light;
        }

        .name,
        .email,
        .password,
        .confirm-password,
        .newsletter,
        .terms,
        .btn-register,
        .btn-facebook {
            width: 100%;
            display: block;
            margin-bottom: 1em;
        }

        .name,
        .email,
        .password {
            margin-bottom: 0.75em;
        }

        .name,
        .email,
        .password,
        .confirm-password {
            width: calc(100% - 2em);
            padding: 0.5em 1em;
            text-align: left;
        }

        .newsletter,
        .terms {
            max-width: calc(100% - 2em);
        }


        .other-option {
            margin-bottom: 1em;
            text-align: center;
            color: $black;
        }

        .btn-facebook {
            margin-bottom: 1em;
            background: $facebook url($images-dir + 'facebook-logo.png') no-repeat;
            background-position: 0.5em center, center center;
            background-size: 1.2em;
            width: 100%;
        }

        .fab {
            display: none;
        }
    }
}

@media (min-width: 520px) {
    .register {

        .register-form {
            padding: 1em 2em;
            width: calc(100% - 4em);
        }
    }
}

@media (min-width: 600px) {
    .register {

        .register-form {
            padding: 1em 6em;
            width: calc(100% - 12em);
        }
    }
}

@media (min-width: 799px) {
    .register {

        .subtitle {
            text-align: left;
            padding-left: 6em;
            margin-top: 1em;
        }

        .shelf {
            width: 80%;
        }

        .register-form {
            margin: auto;
            width: 70%;

            .name,
            .email,
            .password,
            .confirm-password {
                width: calc(60% - 2em);
                margin-bottom: .75em;
            }

            .fab {
                position: fixed;
                right: 1.5em;
                bottom: 1.5em;
                display: inline-block;
                width: 3em;
            }

            .btn-facebook {
                right: 6em;
                background-position: center;
                background-size: 1.4em;
            }

            .btn,
            .other-option {
                display: none;
            }
        }
    }
}

@media (min-width: 1100px) {
    .register {

        .register-form {

            .name,
            .email,
            .password,
            .confirm-password {
                width: calc(50% - 2em);
            }

        }
    }
}
