@import 'base';
@import 'header';
@import 'form_components';

body {
    background-color: $background-gray;
}

.shop-register {

    .disabled {
        opacity: 0.5;
        @include transition(opacity 0.2s);
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    .info {
        padding: 2em;
        display: inline-block;

        header h2 {
            color: $black-title;
            font-size: 1.8em;
            margin-bottom: 1em;
        }
    }
    .basic-field {
        width: calc(100% - 0.6em);
        margin: 0.3em 0;
    }

    .requirements {
        @extend .info;

        .device-need {
            font-weight: lighter;
            color: $gray;
        }
    }

    .basic{
        @extend .info;

        .picture-field {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;

            &:focus {

                + .picture {
                    box-shadow: 0 0 4px $primary-color;
                }
            }
        }

        .picture {
            width: calc(100% - 2em);
            display: block;
            margin-top: 1em;
            background-color: white;
            padding: 1em;
            border-radius: 2px;
            color: $gray;
            position: relative;
            cursor: pointer;

            &:after {
                position: absolute;
                right: 1em;
                top: calc(50% - 0.5em);
                content: '';
                display: inline-block;
                width: 1em;
                height: 1em;
                background: transparent url($images-dir + 'arrow.svg') no-repeat;
                background-position: right;
            }

            .preview {
                width: 3em;
                height: 3em;
                position: absolute;
                top: 0.8em;
            }

            .explanation {
                padding-left: 4em;
                display: inline-block;
                font-size: 1.2em;
                font-weight: lighter;
            }
        }

    }

    .address {
        @extend .info;

        .first-row {
            width: 100%;
            margin-bottom: 1em;

            .cep {
                width: 100%;
            }
        }
        .second-row {
            width: 100%;
            margin-bottom: 1em;
            display: flex;

            .states {
                width: 40%;
                margin-right: 0.5em;
                text-align-last: center;
            }

            .city {
                width: 60%;
            }
        }
        .third-row {
            width: 100%;
            margin-bottom: 1em;
            display: flex;

            .full-address {
                width: 80%;
                margin-right: 0.5em;
            }
            .number {
                width: 20%;
            }
        }
        .fourth-row {
            width: 100%;

            .neighborhood {
                width: 100%;
                margin-right: 0.5em;
            }
        }
    }

    .delivery {
        @extend .info;
        padding-top: 0;
        margin-bottom: 3em;


        .delivery-text {            
            font-weight: lighter;
            color: $gray;
            line-height: 1.2;
            width: calc(100% - 2em);
            display: inline-block;
        }
    }

    .message {
        position: fixed;
        width: 12em;
        bottom: 1em;
        right: 6em;
        background-color: $primary-color;
        color: white;
        padding: 0.5em;
        border-radius: 4px;

        &:after {
            position: absolute;
            right: -15px;
            top: calc(50% - 10px);
            content: '';
            display: inline-block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 12.5px 0 12.5px 15px;
            border-color: transparent transparent transparent $primary-color;
        }
    }
    .bt-confirm-register {
        position: fixed;
        bottom: 1.5em;
        right: 1.5em;
    }

    .loading {
        background: $primary-color-light url($images-dir + 'loading.gif') no-repeat;
        background-size: 60%;
        background-position: 50%;
    }
}

.modal-success {
    margin: auto;
    margin-top: 2em;
    width: 95%;
    background: white;
    border: 1px solid $primary-color-light;
    border-radius: 0 0 10px 10px;
    position: relative;
    
    .title {
        font-size: 1.6em;
        padding: 1em;
        color: white;
        background-color: $primary-color-light;
    }

    .content {
        padding: 1em;
        line-height: 1.2;
        font-size: 1.2em;
        color: black;
    }

    .back {
        position: absolute;
        right: 0.5em;
        bottom: -3em;
        color: $primary-color;
        text-decoration: none;
        @include animation(color 0.1s);

        &:hover {
            color: $primary-color-light;
        }
    }
}

@media (min-width: 800px) {

    .shop-register {
        display: flex;

        .picture {
            white-space: nowrap;

            .preview {
                width: 4em;
                height: 4em;
                top: 0.4em;
            }

            .explanation {
                font-size: 1.4em;
            }
        }

        .left {
            width: 40%;
            padding: 0 1.5em;
        }

        .right {
            width: 60%;
            padding: 0 1.5em;
        }

        .address {
            .first-row {
                .cep {
                    width: 60%;
                }
            }
            .second-row {

                .states {
                    width: 40%;
                }

                .city {
                    width: 60%;
                }
            }
            .third-row {
                .full-address {
                    width: 80%;
                }
                .number {
                    width: 20%;
                }
            }
            .fourth-row {
                .neighborhood {
                    width: 70%;
                }
            }
        }

        .delivery {
            margin-bottom: 0;
        }

        .message {
            bottom: 2.6em;
            right: 7em;

            &:after {
                right: -10px;
            }
        }

        .bt-confirm-register {
            bottom: 3em;
            right: 3em;
        }
    }

    .modal-success {
        margin-top: 4em;
        width: 60%;
    }
}

@media (min-width: 1100px) {
    .shop-register {
        .left {
            padding: 0 3em;
        }
        .right {
            padding: 0 4em;
        }
        .address {
            .second-row {
                .states {
                    width: 30%;
                }

                .city {
                    width: 70%;
                }
            }
            .third-row {
                .full-address {
                    width: 85%;
                }
                .number {
                    width: 15%;
                }
            }
            .fourth-row {
                .neighborhood {
                    width: 60%;
                }
            }
        }
    }

    .modal-success {
        width: 40%;
    }
}

@media (min-width: 1199px) and (min-height: 799px) {
    .shop-register {

        .info {
            padding: 3em;            

            header h2 {
                font-size: 2.2em;
            }
        }

        .requirements {
            .device-need {
                font-size: 1.5em;
            }
        }

        .basic {
            .picture {
                .explanation {
                    font-size: 1.6em;
                }
            }
        }

        .delivery {
            .delivery-text {            
                line-height: 1.4;
                font-size: 1.4em;
            }
        }

        .fab {
            width: 5em;
            height: 5em;
        }
    }   
}