<!-- @extend ../directives/layout-head.html -->
<title>iMarket | Seu mercado</title>
<meta name="description" content="">
<meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
<link rel="stylesheet" type="text/css" href="<!-- @echo cssDir-->market-home.css">
<script type="text/javascript" src="<!-- @echo jsDir-->only-logged-filter.js" ></script>
<script async type="text/javascript" src="<!-- @echo jsDir-->market-home.js" ></script>
<!-- @endextend -->
<!-- @extend ../directives/layout-body.html -->
    <!-- @extend ../directives/header.html -->
        <nav class="navigation">
            <div class="unlogged">
                <a href="/login" class="login">Entrar</a>
                <a href="/login"><img src="<!--@echo imagesDir-->login.svg" class="login-icon"></a>
                <a href="/cadastro" class="register">Cadastre-se</a>
            </div>
            <div class="logged hide">
                <button class="logout">Sair</button>
            </div>
        </nav>
    <!-- @endextend -->
    <main class="market-home">
        
    </main>
<!-- @endextend -->
